<div class="btn-group pull-right" role="group" aria-label="...">
  <button type="button" ng-click="vm.viewType='List'; vm.addEmployee()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
  <button type="button" ng-click="vm.viewType='List'" class="btn btn-default" ng-class="{'active': vm.viewType === 'List'}"><span class="glyphicon glyphicon-th-list"></span></button>
  <button type="button" ng-click="vm.viewType='Grid'" class="btn btn-default" ng-class="{'active': vm.viewType === 'Grid'}"><span class="glyphicon glyphicon-th"></span></button>
</div>